* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent; /* 去掉移动端触摸阴影 */
}

html {
    height: 100%;
    overflow: hidden;
}

#app {
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    transition: top 0.25s linear;
    top: 0px;
}

#app.down {
    top: 220px;
}

#app .card {
    position: absolute;
    left: 5%;
    height: 200px;
    width: 90%;
    overflow: hidden;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: all 0.25s linear;
    filter: hue-rotate(calc(var(--i) * 60deg));
    background: linear-gradient(-50deg, #0e52ac, #2f80ed, #2d9ee0);
}

#app .card.active {
    top: -200px !important;
}

#app .card.active ~ .card {
    transform: translateY(-50px);
}

#app .card .name {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 16px;
    font-weight: bold;
}

#app .card .number {
    position: absolute;
    font-weight: 700;
    bottom: 20px;
    left: 20px;
    font-size: 25px;
}

#app .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(
        -60deg,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0) 80%
    );
}
#app .card.active:after {
    transform: translateX(100%);
    transition: all 1.5s ease-in-out;
}
